<?xml version="1.0"?>
<robot name="piper" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Arguments -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="joint_state_topic_hardware" default="false" />
    <xacro:arg name="mock_hardware" default="false" />

    <!-- Import macros for main hardware components -->
    <xacro:include filename="$(find piper_description)/urdf/piper_macro.xacro" />
    <!-- initial position for simulation -->
    <xacro:arg name="initial_positions_file" default="$(find piper_description)/config/initial_positions.yaml"/>
    <!-- convert to property to use substitution in function -->
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

    <link name="world"/>
    <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="table"/>
      <origin xyz="0 0 1.0" rpy="0 0 0" />
    </joint>

    <link name="table">
        <visual>
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.04"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.02" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1.0 0.04"/>
            </geometry>
        </collision>
    </link>

    <xacro:load_piper
        parent="table"
        prefix="$(arg prefix)"
        joint_state_topic_hardware="$(arg joint_state_topic_hardware)"
        mock_hardware="$(arg mock_hardware)"
        sim_gazebo="$(arg sim_gazebo)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}">
      <origin xyz="0 0 0" rpy="0 0 0" />  <!-- position robot in the world -->
    </xacro:load_piper>

    <xacro:if value="$(arg sim_gazebo)">
        <xacro:include filename="$(find piper_description)/urdf/piper.gazebo.xacro" />
        <xacro:arg name="simulation_controllers" default="$(find piper_description)/config/gz_controllers.yaml" />
        <xacro:piper_gazebo_plugins
            simulation_controllers="$(arg simulation_controllers)"/>
    </xacro:if>

</robot>
